<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
        <header>
                <nav>
                    <li>Home</li>>
                    <li>Dashboard</li>>
                    <li>Login</li>>
                    <li>Logout</li>>
                </nav>
                <h1><span>The Tech Blog</span></h1>
        </header>
        <main>
            {{{ body }}}
        </main>
    <script src="/js/logout.js"></script>
  
</body>

</html>