<div class="card">
        <h2>Create a comment.</h2>

        <form id="comment-form">
            <textarea id="comment-input"></textarea><br>
            <input type="submit"></input>
        </form>
</div>

<script src="/js/comment.js"></script>