<div class="card">
    <div class="header">
        <h2>DashBoard.</h2>
        <p>Create a post, down below.</p>
    </div>
    
    <div class="main">
        <a href="/newPost"><button id="create">Create Post</button></a>
    </div>
</div>
