{{#if loggedin}}
<div class="login">
    <div class="header">
        <h2>Log in.</h2>
    </div>
    <div class="main">
        <form class="login-form">
            <label for="usernameL">Username:</label><br>
            <input type="text" id="username"><br>
            <label for="passwordL">Password:</label><br>
            <input type="text" id="password">
            <input type="button" value="submit"></input>
        </form>
    </div>
</div>
{{else}}
<div class="signup">
    <div class="header">
       <h1>Sign up.</h1> 
    </div>
    
    <form class="signup-form">
        <label for="username-signupL">Username:</label><br>
        <input type="text" id="username-signup"><br>
        <label for="username-singupL">Password:</label><br>
        <input type="text" id="password-signup">
        <input type="button" value="submit"></input>
    </form>
</div>
{{/if}}

<script src='../public/js/login.js'></script>'