<div class="login">
    <div class="header">
        <h2>Log in.</h2>
    </div>
    <div class="main">
        <form class="login-form">
            <label for="username-label">Username:</label><br>
            <input type="text" id="username-login"><br>
            <label for="password-label">Password:</label><br>
            <input type="text" id="password-login">
            <input type="submit" value="Login"></input>
        </form>
    </div>
</div>
<div class="signup">
    <div class="header">
       <h1>Sign up.</h1> 
    </div>

    <form class="signup-form">
        <label for="username-label">Username:</label><br>
        <input type="text" id="username-signup"><br>
        <label for="email-label">Email:</label><br>
        <input type="text" id="email-signup"><br>
        <label for="username-label">Password:</label><br>
        <input type="text" id="password-signup"><br>
        <input type="submit" value="Sign Up"></input>
    </form>
</div>
<script src='../public/js/login.js'></script>
