<div class="newpost">
    <div class="header">
        <h1>Create a post.</h1>
    </div>

    <div class="main">
        <form class="newpost-form">
            <label for="title-label">Title:</label><br>
            <input type="text" id="title-input"><br>
            <label for="Body-label">Body:</label><br>
            <textarea id="body-text"></textarea>
        </form>
    </div>
</div>